@font-face {
    font-family: myFont;
    src: url("xtreem/XtreemThin_PERSONAL_USE.ttf");
}
.cls-2{
	font-family: myFont !important;
	font-weight: 700 !important;
}
#overlay {
    position: fixed;
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(96,98,102,0.4); 
    z-index: 0;
}

.wrapper{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 28%;
    z-index: 1;
}
text{
	stroke: #fff !important;
	fill: #fff !important;
	stroke-width:5px;
    stroke-dasharray: 4000;
	stroke-dashoffset:0;
	opacity: 1;
	animation: animate 4s cubic-bezier(0,0.23,1,0.1);
}

@keyframes animate{
	0%{
		opacity: 0.8;
		fill: none;
		stroke-dasharray: 18 400;
	    stroke-dashoffset: 1000;
	}
	90%{
		opacity: 1;
		stroke-dasharray: 4000;
		stroke-dashoffset:0;
		fill:#fff !important;
	}
	100%{
		opacity: 1;
		stroke-dasharray: 400;
		stroke-dashoffset:23;
		fill:none !important;
	}
}
.menu-slider {
    position: fixed;
    width: 0%; 
    height: 100%; 
    top: 0; 
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.56); 
    z-index: 2;
    transition: all 0.4s;
}
.menu-slider .close-menu{
	position: absolute;
    right: 40px;
    top: 40px;

}
.menu-slider .close-menu span .fas{
	color: #fff;
	font-size: 20px;
	cursor: pointer;
}

.animate_slide_right{
	display: block; opacity: 1; width: 25%; 
}
.animate_slide_left{
	animation: animated 0.4s;
}
@keyframes animated{
	from { display: block; opacity: 1; width: 25%; }
	to { width: 0%; display: none; opacity: 0; }
}
.nav{
	color: #fff;
}
ul.nav{
	padding-top: 100px;
}
ul.nav li{
    padding: 26px;
    text-align: center;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.landing_page_container{
	height: 100vh;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: bottom;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	padding: 40px 0;
	/*display: table;*/
}
h1, p, span{
	font-weight: 800;
}

ul.social-container li{
	list-style: none;
	display: inline;
}
.content_wrapper{
	position: relative;
	margin: 0 auto;
}
.heading{
	padding: 0;
	height: 2rem;
	width: 100%;
	display: block;
	margin-top: 0;	
	text-align: center;
}
.menu-icon{
	height:1.5rem;
	width: 2.5rem;
	padding: 5px 10px;
	display: inline-block;
	cursor:pointer;
}
.header__item{
	display: inline-block;
	float: left;
}

.menu-icon__line{
	width: 1.5rem;
	height: .2rem;
	display: block;
	background: #fff;
}

.menu-icon__line:before, .menu-icon__line:after{
	content: '';
	width:1.5rem;
	height: 0.2rem;
	display: inline-block;
	position: relative;
	background: #fff;
}

.menu-icon__line:before{
	left: .5rem;
	top: -0.6rem;
}

.menu-icon__line:after{
	top: -1.8rem;
}
.social-container{
	overflow:hidden;
	margin: 0;
	padding: 0;
	float: right;
}

.social-container .social-icon{
	float: left;
	cursor: pointer;
	margin: 0px 15px;
	font-size: 18px;
}
.social-container .social-icon a{
	color:#fff !important;
}
.body-section{
	position: relative;
}
.left_center_text{
	position: absolute;
	width: 300px;
	top: 25rem;
    transform: rotate(-90deg);
    left: -64%;
}